name: Main
on:
  push:
    branches-ignore:
      - "releases/**"
    paths-ignore:
      - "**.md"
      - ".gitignore"
  pull_request:
    paths-ignore:
      - "**.md"
      - ".gitignore"
jobs:
  Formatting:
    runs-on: ubuntu-20.04
    steps:
      - name: Clone repo
        uses: actions/checkout@v2.3.4

      - name: Check formatting
        uses: DoozyX/clang-format-lint-action@v0.12
        with:
          clangFormatVersion: 12

  Documentation:
    runs-on: ubuntu-20.04
    steps:
      - name: Clone repo
        uses: actions/checkout@v2.3.4

      - name: Install apt packages
        run: |
          sudo apt-get update
          sudo apt-get install doxygen qtmultimedia5-dev

      - name: Generate documentation
        run: |
          cmake -B build -D DOXYGEN_WARN_AS_ERROR=YES
          cmake --build build --target QOnlineTranslatorDocumentation

  Build:
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04, windows-latest]
        include:
          - os: ubuntu-18.04
            extra-cmake-arguments: >-
              -D CMAKE_CXX_FLAGS="-Wall -Wextra -pedantic -Werror"
          - os: ubuntu-20.04
            extra-cmake-arguments: >-
              -D CMAKE_CXX_FLAGS="-Wall -Wextra -pedantic -Werror"
          - os: windows-latest
            extra-cmake-arguments: >-
              -D CMAKE_TOOLCHAIN_FILE=$env:VCPKG_ROOT/scripts/buildsystems/vcpkg.cmake
              -D VCPKG_TARGET_TRIPLET=$env:RUNVCPKG_VCPKG_TRIPLET
              -D CMAKE_CXX_FLAGS="/experimental:external /external:anglebrackets /external:W0 /W4 /WX"
              -D CMAKE_CXX_CLANG_TIDY='clang-tidy;--warnings-as-errors=*'

    runs-on: ${{ matrix.os }}
    steps:
      - name: Clone repo
        uses: actions/checkout@v2

      - name: Install apt packages
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install qtmultimedia5-dev ninja-build

      - name: Install vcpkg packages
        uses: lukka/run-vcpkg@v7
        if: runner.os == 'Windows'
        with:
          vcpkgArguments: qt5-multimedia --triplet x64-windows
          vcpkgGitCommitId: 5568f110b509a9fd90711978a7cb76bae75bb092
        env:
          VCPKG_DISABLE_METRICS: 1

      - name: Setup MSVC
        if: runner.os == 'Windows'
        uses: ilammy/msvc-dev-cmd@v1

      - name: Build
        run: |
          cmake -B build -G Ninja ${{ matrix.extra-cmake-arguments }}
          cmake --build build --parallel 2
